p
{
	 font: 20px Arial, sans-serif;
}


.button {
 	background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.centeredimage
{
	text-align: center;
}

img{
     
    max-width:500px;
}

a
{
  color:#00F;
}

.red
{
 background-color: white;
  color:#000;
  
}
.white
{
  background-color: white;
  color:#000;
}
textarea
{
  width:80%;
  height:100px;
  font: 20px Arial, sans-serif;
}

